@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-primary: #121315;
  --color-secondary: #666666;
  --color-accent: #ffca3b;
  --color-border: #d7d7d7;
  --font-primary: "var(--font-dmSans)";
  --font-secondary: "var(--font-barlow)";
  --shadow-custom: "0px 4px 54px 10px rgba(18, 19, 21, 0.06)";
  --background-image-hero: url("/assets/img/hero/bg.jpg");
}

@utility container {
  padding-inline: 15px;
  margin-inline: auto;
}

body {
  @apply font-secondary text-secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary text-primary;
}

.h1 {
  @apply text-[40px] xl:text-[54px] uppercase font-black leading-[1.1];
}
.h1 {
  @apply text-[40px] xl:text-[54px] uppercase font-black leading-[1.1];
}
